.books {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  align-items: stretch;
}

.book {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  transition: var(--transition);
  padding: 10px;
  border: 1px solid var(--light-gray);
  position: relative;
}

.book .book-stock {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--danger);
  color: var(--white);
  padding: 2px 5px;
  border-radius: 4px;
  position: absolute;
  top: 25px;
  right: -20px;
  transform: rotate(45deg);
}

.book img {
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
  background-color: #ccc;
}

.book h3 {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 5px;
  padding-inline: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.book p {
  color: var(--muted-gray);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-inline: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.book .book-price span {
  color: var(--navy-blue);
  font-size: 18px;
  font-weight: 700;
}

.book .book-actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
