* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --navy-blue: #1c2a39;
  --burnt-orange: #ff6a00;
  --teal-green: #00b3a6;
  --light-gray: #f4f5f7;
  --dark-charcoal: #333333;
  --muted-gray: #666666;
  --white: #fcfcfc;
  --black: #000000;
  --danger: #d20000;
  --box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
}
